<h2 class="orange text-capitalize">User's info.</h2>
</br>
<div>
  <label class="lightBlue font-weight-bold" >Full Name:</label>
  <label name="owner" id="owner">{{project.ownerFirstName}} {{project.ownerLastName}}</label>
</div>
<div>
  <label class="lightBlue font-weight-bold">Projects:</label>
  <label name="Projects" id="Projects">{{project.title}}</label>
</div>
<div>
  <label class="lightBlue font-weight-bold">About me:</label>
  <label rows="5" name="About" id="About"></label>
</div>
<p class = "float-right">
  <a href="https://github.com/RefugeesCodeAT/hackboard" target="_blank" i class="fa fa-github log"></i></a>
</p>
