<form (ngSubmit)="submit()">
<div>
    <div class = "float-left">
        <h2 class="orange text-capitalize">Add your project info.</h2>
    </div>
</div>

    <div class="float-right">
        <button class="btn btn-defult MyBtn MyShadow">Add</button>
    </div>
</br></br>

    <div class="form-group">
        <label class="lightBlue font-weight-bold" for="title">Title:</label>
        <input type="text" class="form-control" [(ngModel)]="data.title" name="title" id="title" required>
    </div>
    <div class="form-group ">
        <label  class="lightBlue font-weight-bold" for="comment">Description:</label>
        <textarea class="form-control" rows="3" id="comment" [(ngModel)]="data.description" name="description"></textarea>
    </div>
    <div class="form-group">
        <label class="lightBlue font-weight-bold" for="github">GitHub Link:</label>
        <input type="text" class="form-control" [(ngModel)]="data.github" name="github" id="github">
    </div>
    <form (ngSubmit)="addStory(userstory.value)">
    <div class="form-group">
        <label class="lightBlue font-weight-bold" >User Story:</label>
        <div class="form-row">

                <div class="form-group col-md-11">
                    <input type="text"   #userstory class="form-control">
                </div>


                <div class="form-group col-md-1">
                    <button class="ff">+</button>
                </div>
        </div>

    </div>
    </form>
    <ol>
    <div *ngFor="let story of stories">
        <div class="row">
                <div class="form-group col-md-11"><li>{{story}}</li></div>
                <div class="form-group col-md-1"><button class="ff" (click)="delstory(story)">-</button></div>
        </div>
    </div>
    </ol>

    <form (ngSubmit)="addRole(dropRoles.value)">
        <label class="lightBlue font-weight-bold">Roles:</label>
        <select #dropRoles>
            <option *ngFor="let role of roles" [ngValue]="roles" [ngStyle]="{'background-color': role.color}">{{role.roleName}}</option>
        </select>
        <button class="ff">+</button>

    </form>

</form>
<br>
<label class="lightBlue font-weight-bold">Looking for these roles:</label>
<div *ngFor="let role of projectRoles">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div *ngFor="let counter of getFilledArray(role.count)">
                <div class="circle float-left" [ngStyle]="{'border-color': role.color}"></div>
            </div>
        </div>
        <button class="ff" (click)="deleteRole(role.roleName)">-</button>
        <div class="lightBlue font-weight-bold">{{role.roleName}}</div>
    </div>
</div>


<div style="width: 300px; margin-bottom: 20px;">
    <h3>Select multiple Tags</h3>
    <ng-select  [multiple]="true"
                [items]="tagsArray"
                (data)="refreshValue($event)"
                (selected)="selected($event)"
                (removed)="removed($event)"
                placeholder="No Tag selected"></ng-select>
    <pre>{{itemsToString(value)}}</pre>
</div>
