<div>
    <div class = "float-left">
        <h2 class="orange text-capitalize">Add your project info.</h2>
    </div>
    <div class="float-right">
        <button class="btn btn-defult MyBtn MyShadow">Add</button>
    </div>   
</div></br></br>
<form (ngSubmit)="submit()">
    <div class="form-group">
        <label class="lightBlue font-weight-bold" for="title">Title:</label>
        <input type="text" class="form-control" [(ngModel)]="data.title" name="title" id="title">
    </div>
    <div class="form-group ">
        <label  class="lightBlue font-weight-bold" for="comment">Description:</label>
        <textarea class="form-control" rows="5" id="comment" [(ngModel)]="data.description" name="description"></textarea>
    </div>
    <div class="form-group">
        <label class="lightBlue font-weight-bold" for="github">GitHub Link:</label>
        <input type="text" class="form-control" [(ngModel)]="data.github" name="github" id="github">
    </div>
    <form (ngSubmit)="addRole(dropRoles.value, count.value)">
        <label class="lightBlue font-weight-bold">Roles:</label>
        <select #dropRoles>
            <option *ngFor="let role of roles" [ngValue]="roles" [ngStyle]="{'background-color':role.color}">{{role.roleName}}</option>
        </select>
        <input  type="number" value=1  #count >
        <button class="ff">+</button>
    </form>

    <div>
        <table>
            <tr *ngFor = "let role of projectRoles">
                <td>{{role.roleName}}</td>
                <td>{{role.count}}</td>
                <td><button (click)="deleteRole(role.roleName)">-</button></td>
            </tr>
        </table>
    </div>
    <br>
</form>
