<h2 class="orange text-capitalize">Add your project info.</h2>
<form (ngSubmit)="submit()">
    <div class="form-group">
        <label class="lightBlue font-weight-bold" for="title">Title:</label>
        <input type="text" class="form-control" [(ngModel)]="data.title" name="title" id="title">
    </div>
    <div class="form-group ">
        <label  class="lightBlue font-weight-bold" for="comment">Description:</label>
        <textarea class="form-control" rows="5" id="comment" [(ngModel)]="data.description" name="description"></textarea>
    </div>
    <div class="form-group">
        <label class="lightBlue font-weight-bold" for="github">GitHub Link:</label>
        <input type="text" class="form-control" [(ngModel)]="data.github" name="github" id="github">
    </div>
    
    <button class="btn btn-defult MyBtn MyShadow">Add</button>
</form>
<select name="appCalendar" id="appCalendar">
    <option value="#000000" style="background-color: Black;color: #FFFFFF;">Black</option>
    <option value="#808080" style="background-color: Gray;">Gray</option>
    <option value="#A9A9A9" style="background-color: DarkGray;">DarkGray</option>
    <option value="#FF0000" style="background-color: Red;">Red</option>
    <option value="#A52A2A" style="background-color: Brown;">Brown</option>
    <option value="#DEB887" style="background-color: BurlyWood;">BurlyWood</option>
    <option value="#F5F5DC" style="background-color: Beige;">Beige</option>
   </select>
</div>   