<div class="row">
  <div class="col-12 col-md-6 text-left">
      <h2 class="m-0 ml-2">Projects from backend</h2>
  </div>
<!-- <ul>
    <li *ngFor="let project of projects">
        {{ project.title }}
    </li>
</ul> -->

    <div class="col-12 col-md-6 mt-2 mt-md-0 text-left">
        <a routerLink="/project-add" class="btn btn-success red d-inline-block">Add Project</a> 
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="list-group">
          <a routerLink="/project-view" class="list-group-item list-group-item-action ">Text-Based Role-Play-Game RPG</a>
          <a routerLink="/project-view" class="list-group-item list-group-item-action">A Treasure Hunt Map</a>
          <a routerLink="/project-view" class="list-group-item list-group-item-action ">Klasse & Kasse, crowd-funding for school projects</a>
          <a routerLink="/project-view" class="list-group-item list-group-item-action ">A Plant Sensor that Tweets</a>
        </div>
    </div>
</div>


