<div class="row">
    <div class="col-12 col-md-6 text-left">
        <h2 class="m-0 ml-2">Projects from backend</h2>
    </div>

    <div class="col-12 col-md-6 mt-2 mt-md-0 text-left">
        <a routerLink="/project-add" class="btn btn-success red d-inline-block">Add Project</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="list-group">
            <a *ngFor="let project of projects" routerLink="/project-view" [queryParams]= "{id:project.id}"  class="list-group-item list-group-item-action beige ">{{project.id}}: {{ project.title }}</a>
        </div>
    </div>
</div>
