<div class="row">
  <div class="col-12 col-md-6 ">  
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Text-Based Role-Play-Game RPG</h5>
          <p class="card-text lead">
          <p>   Purpose: A game around which we can build our coding school.
              What’s the problem: What if we could create a simple text-based game, where learning becomes a journey? Where we have a character that levels up, collects points, money, purchases new equipment, but most of all: writes lines of code. Games like this can be addictive, give structure, help observe progress, bring people together and much more. And the best thing is: we can learn by building our own infrastructure!</p>
              <strong>User Stories:</strong> 
            <ul>
              <li> As a user I want an intuitive experience from the beginning.</li>
              <li>  As a programmer, I want the ability to code my own modules and add them.</li>
              <li>  As a participant, I want to see my character grow and buy nice things.</li>
              <li>  As a gamer, I like to see some story line.</li>
            </ul> 
          </p>  
              <a routerLink="/project-edit" class="btn btn-primary red">Edit</a>
        </div>
      </div>
    </div>  
</div> 