<div class="row">
    <div class="col-12 col-md-6 text-left">
        <h1 class="m-0 ml-2 orange text-capitalize">The list of projects:</h1>
    </div>
    <div class="col-12 col-md-6 mt-2 mt-md-0 float-right">
        <a routerLink="/project-add" class="btn btn-defult MyBtn float-right">Add New Project</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="list-group">
            <ul *ngFor="let project of projects" class="list-group">
                <li class="list-group-item"><a [routerLink]="['/project-view', project.id]" class="MyListFont">{{project.title}}</a>
                    <p> by {{project.ownerFirstName}} {{project.ownerLastName}}</p>
                    <div *ngFor="let role of project.projectRole">
                        <div class="float-left circle" [ngStyle]="{'border-color': role.color}">
                            <span class="tooltiptext">{{role.roleName}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

