<div class="row">
    <div class="col-12 col-md-6 text-left">
        <h2 class="m-0 ml-2">Projects from backend</h2>
    </div>

    <div class="col-12 col-md-6 mt-2 mt-md-0 text-left">
        <a routerLink="/project-add" class="btn btn-defult MyBtn MyShadow ">Add Project</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="list-group darkBlue">
            <table >
                <thead>
                    <td>Title</td>
                    <td>Owner</td>
                    <td>Roles</td>
                </thead>
                <Tr *ngFor="let project of projects " [class.selected]="project.id === selectedId">
                    <td ><a [routerLink]="['/project-view', project.id]" class="MyListFont">{{project.title}}</a></td>
                    <td >{{ project.ownerFirstName }} {{ project.ownerLastName }}</td>
                    <td>
                        <tr *ngFor="let role of project.roles">
                            <div class="circle" [ngStyle]="{'background-color':role.color}">{{role.count}}
                                    <span class="tooltiptext">{{role.roleName}}</span>
                            </div>
                        </tr>
                    </td>
                </Tr>

            </table>
 <!--           <ol class="list-group list-group-flush d-flex justify-content-between align-items-left">
              <li class="list-group-item" *ngFor="let project of projects " [class.selected]="project.id === selectedId">
                <a [routerLink]="['/project-view', project.id]" class="MyListFont">
                 <li>{{project.title}}  -      {{ project.ownerLastName }}</li>
                </a>
              </li>
            </ol>
 -->       </div>
    </div>
</div>
