<div>
    <div class = "float-left">
        <h2 class="orange text-capitalize">View your project info.</h2>
    </div>
    <div class="float-right">
        <a class="btn btn-defult MyBtn MyShadow btn pull-right" [routerLink]="['/project-edit', project.id]">Edit</a>
        <button class="btn btn-defult MyBtn MyShadow btn pull-right" (click)="deleteProject()">Delete!</button>
    </div>
</div>
</br>
</br>
<div>
    <label class="lightBlue font-weight-bold" >Owner Name:</label>
    <label name="owner" id="owner">{{project.ownerFirstName}} {{project.ownerLastName}}</label>
</div>
<div>
    <label class="lightBlue font-weight-bold">Title:</label>
    <label name="title" id="title">{{project.title}}</label>
</div>
<div class="form-group">
    <label  class="lightBlue font-weight-bold" for="comment">Description:</label>
    <p id="comment" name="description" id="comment">{{project.description}}</p>
</div>
<div></div>
<a *ngIf="isGithub" class="lightBlue font-weight-bold" href={{project.github}} target="_blank"><u>Check out this project on GitHub</u></a>
<p *ngIf="!isGithub" class="lightBlue">no github project yet</p>
</br>
<label class="lightBlue font-weight-bold"><hr>Project Story:</label>
<ol>
    <div *ngFor="let story of project.projectStories">
        <div class="row">
            <div class="form-group col-md-11"><li>{{story}}</li></div>
        </div>
    </div>
</ol>
<label class="lightBlue font-weight-bold"><hr>Looking for these people:</label>
    <div *ngFor="let role of project.projectRole">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div *ngFor="let counter of getFilledArray(role.count)">
                    <div class="circle float-left" [ngStyle]="{'border-color': role.color}"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">{{role.roleName}}</div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-md-4">
                <button class="btn btn-defult MyBtn MyShadow btn pull-right" (click)="toggleApply(role.id)">{{applyButton.id}}</button>           
            </div>
        </div>
    </div>
    <label class="lightBlue font-weight-bold">People already applied:<hr></label>
    <div *ngFor="let application of project.applicationDto">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="circle float-left" [ngStyle]="{'border-color': application.roleColor}"></div>
            </div>
            <div class="col-xs-6 col-md-4"><a class="lightBlue font-weight-bold" href={{application.userGithub}} target="_blank">{{application.applicantFullName}}</a></div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-md-4">{{application.roleName}}</div>
        </div>
    </div>
