<h2 class="orange text-capitalize">Edit your project info.</h2>
<form (ngSubmit)="submit()">
    <input hidden name="id" [(ngModel)]="data.id" id="usr"/>
    <div class="form-group">
            <label class="lightBlue font-weight-bold" for="usr">Title:</label>
            <input type="text" class="form-control" [(ngModel)]="data.title" name="title" id="usr">
        </div>
        <div class="form-group ">
            <label  class="lightBlue font-weight-bold" for="comment ">Description:</label>
            <textarea class="form-control" rows="5" id="comment" [(ngModel)]="data.description" name="description"></textarea>
        </div>
    <button type="submit" class="btn btn-defult MyBtn MyShadow">Apply</button>
</form>
