<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" >Welcome Hackboard !!!</h1>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
        <div>
            <p>
                <span class=" font-weight-bold text-capitalize display-4 shadow p-4 mb-4 bg-white orange">"Find a project team" </span>
            </p>
        </div>
        <div class="shadow-none p-4 mb-4 bg-light">
            <p>
                Together we build better! Don't know which project to work on?
                Check out our list! Have a great idea? Upload and find team members!
                            Like a project? Apply for a role.
            </p>
            <p>
Our hackboard app was built by five amazing participants, using spring boot and angular. It’s a single page application and was created to make our hackathons better.
            </p>
            <p>
                Team members were:
                <a class="lightBlue font-weight-bold" href="https://github.com/MohamedDahman" target="_blank"><u>Mohamed Dahman</u></a>&
                <a class="lightBlue font-weight-bold" href="https://github.com/Thaerohde" target="_blank"><u>Thaer Ohde</u></a>&
                <a class="lightBlue font-weight-bold" href="https://github.com/HosamAlmoghraby" target="_blank"><u>Hosam Almoghraby</u></a>&
                <a class="lightBlue font-weight-bold" href="https://github.com/mohammadsalkini" target="_blank"><u>Mohammad Alsalkini</u></a>&
                <a class="lightBlue font-weight-bold" href="https://github.com/Farah7Tawfeek" target="_blank"><u>Farah Alrubaye</u></a>
                <a class="lightBlue font-weight-bold" href="https://github.com/rainerhahnekamp" target="_blank"><u>Rainer Hahnekamp</u></a>
                 . Special thanks to Rainer Hahnekamp & Mohamed Dahman who has been a mentor and role-model for us.
            </p> 
        </div>
        <carousel>
            <slide>
              <img src="../../content/images/HackRC0.jpg" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h1 class="darkBlue">Knowledge is power</h1>
                </br>
                <p class="bblack"> “When you hand good people possibility, they do great things.” </p>
              </div>
            </slide>
            <slide>
              <img src="../../content/images/HackRC1.jpeg" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <p class="bblack">“Alone we can do so little; together we can do so much.”</p>
              </div>
            </slide>
            <slide>
              <img src="../../content/images/HackRC2.jpeg" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="darkBlue">You are what you share</h3>
                <p class="bblack">Create with the heart; build with the mind...</p>
              </div>
            </slide>
            <slide>
              <img src="../../content/images/HackRC3.jpeg" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="darkBlue">Practice</h3>
                <p class="bblack">Plans are worthless, but planning is everything.</p>
              </div>
            </slide>
            <slide>
              <img src="../../content/images/HackRC4.jpeg" alt="second slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="darkBlue">and</h3>
                <p class="bblack">Without hard work, nothing grows but weeds..</p>
              </div>
            </slide>
            <slide>
              <img src="../../content/images/HackRC5.jpeg" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="darkBlue">Practice</h3>
                <p class="bblack">“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” 
                  ― Martin Fowler</p>
              </div>
            </slide>
            <slide>
              <img src="../../content/images/HackRC6.jpeg" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <p class="bblack">“Truth can only be found in one place: the code.” 
                  ― Robert C. Martin.</p>
              </div>
            </slide>
          </carousel>            
    </div>
</div>