<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" >Welcome Hackboard !!!</h1>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
        <div>
            <p>
                <span class=" font-weight-bold text-capitalize display-3 shadow p-4 mb-4 bg-white orange">"Find a project team" </span>
            </p>
        </div>
        <div class="col-12 col-md-6 text-left">
            <h2 class="m-0 ml-2 paragraphHead">A good idea BECOMES A great idea when you Let it OUT .. Share it WITH Us</h2>
        </div>
        
        <a routerLink="projects" class="btn btn-defult MyBtn float-right MyShadow">List of Projects</a>
        <br><br>
        <p>
           <a href="https://github.com/RefugeesCodeAT/hackboard" target="_blank" i class="fa fa-github log"></i></a>
        </p>
    </div>
</div>
