<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" >Welcome Hackboard !!!</h1>
        <!-- <p class="lead" >This is your </p> -->

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
        <div>
            <p>
                <span class=" font-weight-bold text-capitalize display-3 shadow p-4 mb-4 bg-white orange">"Find a project team" </span>
            </p>
        </div>
        <div class="col-12 col-md-6 text-left">
                <h2 class="m-0 ml-2 paragraphHead">A good idea BECOMES A great idea when you Let it OUT .. Share it WITH Us</h2>
            </div>
        <div>
            <p class="font-italic"> Purpose: Making lots of purchases of second hand stuff around a city, in an efficient way.
                What’s the problem: When making many purchases second hand, it may be cheaper but you’ll be travelling through all of the city. But with a group of people furnishing a place together, for example when refugees code finds a new headquarter, it would allow a group to look for nice offers together.<br>

                User Stories:<br>

                As a buyer, I want to add something to a city map.<br>
                As a seller I want one person to talk to.<br>
                As a user I need to see where in the city I live and where the action is.<br>
                As a group of people I want to have an overview of what products are being looked at, what can be purchased, and how much money is still available.<br>
                As an organisation I want to democratically furnish a place.<br>
            </p>
        </div>

        <a routerLink="projects" class="btn btn-defult MyBtn float-right MyShadow">List of Projects</a>
        <br><br>
        <p>
           <a href="https://github.com/RefugeesCodeAT/hackboard"><i class="fa fa-github log"></i></a>
        </p>
    </div>
</div>
